reports/.ipynb_checkpoints
.Rproj.user
reports/ryan_scratch.py
*.Rproj
.Rhistory
data/*/*.parquet
data/*/_common_metadata
data/*/_metadata
data/*/*/*.parquet
data/*/*/_common_metadata
data/*/*/_metadata